asgiref
astroid
autopep8
boto
boto3
botocore
certifi
chardet
colorama
Django
django-cors-headers
django-storages
djangorestframework
docutils
idna
image
isort
jmespath
lazy-object-proxy
mccabe
pillow
psycopg2-binary
pycodestyle
PyJWT
pylint
python-dateutil
python-decouple
pytz
requests
s3transfer
six
sqlparse
toml
typed-ast
urllib3
wrapt
